body {background-color: #b9e7f0;}
p {color:#5019e6;}
a:hover {color:#8469c7;} 
a:visited {color: #32a852;} 
nav {background-color:#b9e7f0;}
nav a {color:#7b25e6;}
nav a:hover {background-color:#7b25e6;}
nav {padding:10px;}
nav {margin-bottom:30px;}